<card cardTitle="Digitalizador">
    <form method="get" class="text-center" id = "form-digitalizador" action="">
    <div class="row">
      <div class="col-md-3">
        <h4 class="text-left">Subir Pluviograma:</h4>
        <input type="file" name="adjunto" id="seleccionArchivos" accept=".pdf,.jpg,.png" />
      </div>
      <div class="col-md-3">
        <h4 class="text-left">Estación:</h4>
        <select form ="form-digitalizador" id = "FormEstacion" class="form-control">
          </select>
      </div>
      <div class="col-md-3">
        <h4 id = "FormFechaInicio" class="text-left">Fecha Inicio:</h4>
        <input type="date" id="inicio" name="trip-start"
        value="2022-09-01" class="form-control"> 
      </div>
      <div class="col-md-3">
        <h4 id = "FormFechaFin" class="text-left">Fecha Fin:</h4>
        <input type="date" id="fin" name="trip-start"
        value="2022-09-01" class="form-control"> 
      </div>
      <div class="col-md-3">
        <h4  class="text-left">Modelo de Pluviograma:</h4>
        <select form ="form-digitalizador" id = "FormModelo" class="form-control">
          </select>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 class="text-left">Vista Previa Pluviograma a Digitalizar:</h4>
            <img id="imagenPrevisualizacion">
        </div>
      </div>
    <button type="submit" form="form-digitalizador" id="btn-digitalizador" class="btn-lg btn-default">Digitalizar</button>
    </form>
</card>
  