$blueciifen: #0f436b;
.col > .text-left {
    margin-left: 1%;
}

.row > .col {
    margin-top: 70px;
}

#imagenPrevisualizacion {
    margin-bottom: 30px;
    //border: 1px solid $blueciifen; 
}

.btn-default{
    margin-bottom: 20px;
}