<card cardTitle="Digitalizador">
    <form method="get" class="text-center" id = "form-digitalizador" action="">
    <div class="row">
      <div class="col-md-3">
        <h4 class="text-left">Subir Pluviograma:</h4>
        <input type="file" name="adjunto" id="seleccionArchivos" accept=".pdf,.jpg,.png" />
      </div>
      <div class="col-md-3">
        <h4 class="text-left">Estación:</h4>
        <select form ="form-digitalizador" id = "FormEstacion" class="form-control">
          </select>
      </div>
      <div id="fechainicioactual" class="col-md-3">

      </div>
      <div id="fechainiciofin" class="col-md-3">

      </div>
      <div class="col-md-3">
        <h4  class="text-left">Modelo de Pluviograma:</h4>
        <select form ="form-digitalizador" id = "FormModelo" class="form-control">
          </select>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 class="text-left">Vista Previa Pluviograma a Digitalizar:</h4>
            <img id="imagenPrevisualizacion">
        </div>
      </div>
    <button form="form-digitalizador" (click)="alertConfirm()"  class="btn-lg btn-default">Digitalizar</button>
    <button style="display: none" type="submit" form="form-digitalizador" id="btn-digitalizador" class="btn-lg btn-default"></button>

    </form>
</card>
  