$blueciifen: #0f436b;
.col > .text-left {
    margin-left: 1%;
}

.row > .col {
    margin-top: 50px;
}

#imagenPrevisualizacion {
    margin-bottom: 30px;
    //border: 1px solid $blueciifen; 
}
.col-md-3{
    padding-bottom: 20px;
    padding-top: 10px;
}

.btn-default{
    margin-bottom: 20px;
}

.btn-default:hover{
    background-color: #0b314e;
}