<div class="card card-block login-card">
  <img class="logo-ciifen"src="{{logoImgSrc}}" alt="logo">
  <span class="form-label">Ingresa las credenciales para continuar</span>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon addon-left" id="username">
        <i class="fa fa-user fa-fw"></i>
      </span>
      <input id="user" #user_name class="form-control with-primary-addon" placeholder="Cuenta de Usuario" type="text">
    </div>
    <div class="input-group">
      <span class="input-group-addon addon-left" id="password">
        <i class="fa fa-lock fa-fw"></i>
      </span>
      <input id="pass" #pass class="form-control with-primary-addon" placeholder="Contraseña" type="password">
    </div>
    <button id="btnInicio" class="btn btn-default" (click)="onSubmit_Login(user_name.value, pass.value)">Iniciar Sesión</button>
  </div>
</div>
