<button class="config-switch " (click)="configToggle()">
  <i class="fa fa-user" *ngIf="!isConfigToggle"></i>
  <span class="user-name" title="{{userName}}">{{userName}}</span>
  <i class="fa fa-chevron-right" *ngIf="isConfigToggle"></i>
</button>
<div class="right-config-wrap" [ngClass]="{'right-config-wrap-on':isConfigToggle}">
  <div class="config-header">
    <h3 class="config-title">
      <i class="fa fa-user"></i>
      <span>Perfil</span>
    </h3>
    <p class="desc">Usted es un Digitalizador.</p>
  </div>
  <ul class="config-content">
    <li class="config-list">
      <span>Config1</span>
      <switch switchName="config1" switchId="config1" multiple [checked]="true"></switch>
    </li>
  </ul>
</div>
