<div class="container" id="topPluviograma">
  
</div>


<div class="row">
  <div class="col-md-5">
    <card cardTitle="TABLA DE DATOS EXTRAÍDOS">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>HORA</th>
            <th>PRECIPITACIÓN</th>
            <!-- <th>Accion</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tableData | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">
            <td>{{item.hora}}</td>
            <td>{{item.precipitacion}}</td>
            <!-- <td>
              <button type="submit" onclick='window.location="/pages/database/station/pluviograma"' class="btn-lg btn-default">Ver</button>
            </td> -->
          </tr>
        </tbody>
      </table>
      <form class="pagination-wrapper">
        <div class="form-group pages">
          <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="3" directionLinks="true"
            autoHide="true" previousLabel="Anterior" nextLabel="Siguiente" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
        <div class="form-group options pages">
          <div class="input-group input-group-sm">
            <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
              <option>1</option>
              <option>5</option>
              <option>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
              <option>200</option>
            </select>
            <span class="input-group-addon addon-right">Página</span>
          </div>
        </div>
      </form>
    </card>
  </div>
  <div class="col-md-7">
    <card cardTitle='Serie de tiempo'>
      <figure class="highcharts-figure">
        <div id = "container" style = "width: 550px; height: 400px; margin: 0 auto"></div>
      </figure>
    </card>
  </div>
</div>