<div class="row">
  <div class="col-md-12">
    <card cardTitle="TABLA DE USUARIOS">
      <input class="form-control col-md-3 light-table-filter" data-table="order-table" type="text" placeholder="Buscar.." />
      <table class="table table-bordered table-hover order-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>TÉCNICO/DIGITALIAZDOR</th>
            <th>USUARIO</th>
            <th>EMAIL</th>
            
            <th>ESTADO</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tableData | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index" id="{{index}}">
            <td id="{{index}}.4">{{item.id}}</td>
            <td id="{{index}}.1">{{item.firstName}}</td>
            <td id="{{index}}.2">{{item.username}}</td>
            <td id="{{index}}.3">{{item.email}}</td>
            <td id="{{index}}.5">{{item.estado}}</td>
            <td>
              <button class="btn-lg btn-default" id="{{index}}"  onclick="abrirpopup(this)" data-toggle="modal" data-target="#exampleModal" value="Modificar" >
                Modificar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <form class="pagination-wrapper">
        <div class="form-group pages">
          <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
            autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
        <div class="form-group options pages">
          <div class="input-group input-group-sm">
            <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
              <option>1</option>
              <option>5</option>
              <option>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
              <option>200</option>
            </select>
            <span class="input-group-addon addon-right">Página</span>
          </div>
        </div>
      </form>
    </card>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="contenedor_modal">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default cerrar" data-dismiss="modal">Cerrar</button>
        <button type="button" onclick="guardar()" class="btn btn-primary">Guardar Cambios</button>
        <button type="button" onclick="eliminar()" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>      