@import "../../../../src/app/shared/theme/conf.scss";
.pagination-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    .input-group {
        width: 150px;
        .input-group-addon {
            @extend .bg-default;
            color: $white;
            border: none;
        }
    }
    .form-group {
        height: auto;
        margin: 0;
        padding: 0;
    }
}

button.cerrar{
    margin-top: 7px;
    border: solid;
}

.modal-title{
    padding-left: 135px;
    font-size: x-large;
    color: #0f436b;
    line-height: 1.5em;
}

.my-pagination /deep/ .ngx-pagination {
    border: 1px solid $border-color;
    border-radius: 5px;
    overflow: hidden;
    font-size: $sm-text;
    padding: 0;
    a,
    .current {
        min-width: 30px;
        text-decoration: none;
        height: 35px;
        text-align: center;
        line-height: 33px;
        margin: 0;
        color: $fonts-color;
        &:last-child {
            border: none;
        }
    }
    a:hover,
    .current {
        min-width: 30px;
        @extend .bg-default;
        color: $white;
    }
    .disabled {
        color: rgba($fonts-color, .4);
        cursor: not-allowed;
    }
}

span.input-group-addon.addon-right{
    color: #fff;
    border: none;
    /* margin: inherit; */
    padding: 3px;
    margin-left: 4px;
}

.btn-default{
    margin-top: 3px;
    margin-bottom: 7px;
}

// .modal-container {
//     display: flex;
//     background-color:rgb(185, 255, 255);
//     align-items: center;
//     justify-content: center;
//     position: fixed;
//     pointer-events: none;
//     top: 0;
//     left: 0;
//     height: 50vh;
//     width: 50vw;
//     opacity: 0;

// }

// .show{
//     pointer-events: auto;
//     opacity: 1;
// }

// .modal {
//     background-color: azure;
//     width: 600px;
//     max-width: 70%;
//     padding: 30px 50px;
//     border-radius: 5px;
//     box-shadow: 0 2px 4px rgb(0,0,0.2);
//     text-align: center;
// }